{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>

  <div class="pb-4">
    <h3 class="text-center pt-5">{{newsBlock.title}}</h3>
    <section class='col-12'>
      <div class='row g-2'>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[0] des=newsBlock.cards.0.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[1] des=newsBlock.cards.1.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[2] des=newsBlock.cards.2.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[3] des=newsBlock.cards.3.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[4] des=newsBlock.cards.4.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[5] des=newsBlock.cards.5.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[6] des=newsBlock.cards.6.description}}
        </div>
        <div class='col-3'>
          {{> shoppost hd=newsBlock.cards.[7] des=newsBlock.cards.7.description}}
        </div>
      </div>
    </section>
  </div>
  <hr>
  <div class="nav my-5 nav-tabs">
    <div class="nav-item">
      <a href='#'
        class='nav-link {{#if goodsBlock.tabs.0.isActive}}active{{/if}}{{#if goodsBlock.tabs.0.isDisabled}}disabled{{/if}}'>
        {{goodsBlock.tabs.0.text}}
      </a>
    </div>
    <div class="nav-item">
      <a href='#'
        class='nav-link {{#if goodsBlock.tabs.1.isActive}}active{{/if}}{{#if goodsBlock.tabs.1.isDisabled}}disabled{{/if}}'>
        {{goodsBlock.tabs.1.text}}
      </a>
    </div>
    <div class="nav-item">
      <a href='#'
        class='nav-link {{#if goodsBlock.tabs.2.isActive}}active{{/if}}{{#if goodsBlock.tabs.2.isDisabled}}disabled{{/if}}'>
        {{goodsBlock.tabs.2.text}}
      </a>
    </div>
    <div class="nav-item">
      <a href='#'
        class='nav-link {{#if goodsBlock.tabs.3.isActive}}active{{/if}}{{#if goodsBlock.tabs.3.isDisabled}}disabled{{/if}}'>
        {{goodsBlock.tabs.3.text}}
      </a>
    </div>
  </div>

  <div>
    <div class='col-12'>
      <div class='row g-2'>
        <div class='col-4'>
          {{> shopcard im=goodsBlock.cards.0.image tit=goodsBlock.cards.[0]
          des=goodsBlock.cards.0.description}}
        </div>
        <div class='col-4'>
          {{> shopcard im=goodsBlock.cards.1.image tit=goodsBlock.cards.[1]
          des=goodsBlock.cards.1.description}}
        </div>
        <div class='col-4'>
          {{> shopcard im=goodsBlock.cards.2.image tit=goodsBlock.cards.[2]
          des=goodsBlock.cards.2.description}}
        </div>
        <div class='col-4'>
          {{> shopcard im=goodsBlock.cards.3.image tit=goodsBlock.cards.[3]
          des=goodsBlock.cards.3.description}}
        </div>
        <div class='col-4'>
          {{> shopcard im=goodsBlock.cards.4.image tit=goodsBlock.cards.[4]
          des=goodsBlock.cards.4.description}}
        </div>
        <div class='col-4'>
          {{> shopcard im=goodsBlock.cards.5.image tit=goodsBlock.cards.[5]
          des=goodsBlock.cards.5.description}}
        </div>
      </div>
    </div>
  </div>
  <hr class="my-5">

  <div class='card text-bg-dark'>
    <div class="card-body col-12">
      <div class='row'>
        <div class='col-7 ms-2 me-5'>
          <h2>{{subscribe.header}}</h2>
          <p>{{subscribe.description}}</p>
        </div>
        <div class="col-2 py-3">
          <a href='{{subscribe.buttons.0.link}}' rel="{{subscribe.buttons.0.rel}}" class='btn btn-primary'>
            {{subscribe.buttons.0.text}}
          </a>
        </div>
        <div class="col-2 py-3 px-0">
          <a href='{{subscribe.buttons.1.link}}' rel="{{subscribe.buttons.1.rel}}" class='btn btn-primary'>
            {{subscribe.buttons.1.text}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-5">


</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}