{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    {{#with main}}
    <main>
        {{> title data='Work history' big= true}}
        <section>
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div style="line-height: 2.5;">
                            {{position}}
                        </div>

                        <div style="line-height: 2.5">{{duration.from}} - {{#if duration.to}} {{duration.to}}
                            {{else}} (досі працюємо)
                            {{/if}}
                        </div>
                        {{#if company.url}}
                        <div style="line-height: 2.5">{{> link href='http://it-brains.com.ua' text=company.name
                            blank=true
                            noLine=true}}
                        </div>
                        {{else}}
                        <div><b>{{company.name}}</b></div>
                        {{/if}}
                        <div style="font-weight:bold">Projects ({{projectAmount}})</div>
                        <ul>
                            {{#each projects}}
                            <li>
                                <div style="line-height: 2.5">
                                    {{> link href='http://localhost:3000/summary' text=name blank=true noLine=true}}
                                </div>
                                <div>
                                    <p>{{about}}</p>
                                </div>
                                <div style="line-height: 2.5; font-weight:bold">Projects stacks ({{stackAmount}})
                                </div>
                                <ul>
                                    {{#each stacks}}
                                    <li>
                                        <div>{{name}}</div>
                                    </li>
                                    {{/each}}
                                </ul>
                                <div style="line-height: 2.5; font-weight:bold">Projects awards</div>
                                <ul>
                                    {{#each awards}}
                                    <li>
                                        <div>
                                            {{name}}
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}