{{#if data.isHot}}
{{#if data.isNew}}
<div class='card-title'>
  <span style='font-size:25'>{{data.title}}</span>
  &nbsp;
  <span class='badges rounded-pill text-bg-warning text-white px-2'>Hot!</span>&nbsp;<span
    class='badges rounded-pill text-bg-primary text-white px-2'>Новe</span>
</div>
{{else}}
<div class='card-title'>
  <span style='font-size:25'>{{data.title}}</span>
  &nbsp;
  <span class='badges rounded-pill text-bg-warning text-white px-2'>Hot!</span>
</div>
{{/if}}
{{else}}
{{#if data.isNew}}
<div class='card-title'>
  <span style='font-size:25'>{{data.title}}</span>
  &nbsp;
  <span class='badges rounded-pill text-bg-primary text-white px-2'>Новe</span>
</div>
{{else}}

<div class='card-title'>
  <span style='font-size:25'>{{data.title}}</span>
  &nbsp;
</div>

{{/if}}
{{/if}}