<div class='card'>
    <div class="card-body">
        <div class='row'>
            <div class="col-2">
                <img src="{{im}}">
            </div>
            <div class="col-4">
                <h4>{{tit}}</h4>
                <p>{{des}}</p>
            </div>
            <div class="col-2 ms-5 mt-3">
                <p>{{pri}}</p>
                <p class="h5">{{val}}</p>
            </div>
            <div class="col-1  mt-3">
                <p>{{am}}</p>
            </div>
            <div class="col-2 ms-4 mt-3">
                <div class="mb-2"><button class="btn {{#if isp}}btn-primary{{/if}}">{{tex1}}</button></div>
                <div><button class="btn {{#if isd}}btn-outline-danger{{/if}}">{{tex2}}</button></div>
            </div>
        </div>
    </div>
</div>