{{#if data.isFast}}
{{#if data.isFree}}
<div class='card-title'>
    <span style='font-size:25'>{{data.title}}</span>
    &nbsp;
    <div class='badge text-bg-success text-white mb-2'>Швидка доставка</div>
    <div class='badge text-bg-secondary text-white'>Безкоштовна доставка</div>
</div>
{{else}}
<div class='card-title'>
    <span style='font-size:25'>{{data.title}}</span>
    &nbsp;
    <span class='badge text-bg-success text-white'>Швидка доставка</span>
</div>
{{/if}}
{{else}}
{{#if data.isFree}}
<div class='card-title'>
    <span style='font-size:25'>{{data.title}}</span>
    &nbsp;
    <span class='badge text-bg-secondary text-white'>Безкоштовна доставка</span>
</div>
{{else}}

<div class='card-title'>
    <span style='font-size:25'>{{data.title}}</span>
    &nbsp;
</div>

{{/if}}
{{/if}}