<div class="row">
    <div class="col-4">
        <p>{{num}}</p>
        <h5>{{stat}}</h5>
    </div>
    <div class="col-2">
        <p>{{tit}}</p>
        <h5>{{val}}</h5>
    </div>
    <div class="col-4">
        <img src="{{im}}">
    </div>
    <div class="col-2 mt-3">
        <a href="{{lin}}" class="btn btn-{{#if pri}}primary{{/if}}">
            {{tex}}</a>
    </div>
</div>