<div class='card text-bg-success'>
    <div class="card-body text-center">
        <h2>{{service.title}}</h2>
        <p>{{service.description}}</p>
        <a href='{{service.buttons.0.link}}' rel="{{service.buttons.0.rel}}" class='btn btn-primary'>
            {{service.buttons.0.text}}
        </a>
    </div>
</div>