<div class='row m-3'>
    <div class='card'>
        <div class='nav'>
            <h3 class='col-8 mt-3'>{{navigation.Logo}}</h3>
            <div class='nav-item my-3'>
                <a href='{{navigation.links.0.href}}' class='nav-link'>
                    {{navigation.links.0.text}}
                </a>
            </div>
            <div class='nav-item my-3'>
                <a href='{{navigation.links.1.href}}' class='nav-link'>
                    {{navigation.links.1.text}}
                </a>
            </div>
            <div class='nav-item my-3'>
                <a href='{{navigation.links.2.href}}' class='nav-link'>
                    {{navigation.links.2.text}}
                </a>
            </div>
            <div class='nav-item my-3'>
                <a href='{{navigation.links.0.href}}' class='nav-link disabled'>
                    {{navigation.links.0.text}}
                </a>
            </div>
        </div>
    </div>
</div>